body {
    padding: 0;
    text-align: center;
    background-color: black;
  }

  p {
      color: white;
  }
  
  .logo-img {
    width: 350px;
  }

  .arrows-img {
    width: 150px;
  }

  .space-img {
    width: 250px;
  }
  
  body button {
    font-size: 30px;
    background-color: #240177;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }

#space-board {
    float: left;
    padding: 20px 0px;
}

canvas {
    background-image: url(./images/space-board.png);
    background-size: cover;
}



#score-div p{
  font-size: 15px;
  text-shadow: grey;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-left: 500px;
  margin-right: 500px;

  margin-top: 20px;
  font-family: 'Press Start 2P', cursive;
  color: black;
  background-color:yellow;
  padding: 10px;
}

#game-intro h1{
  position: absolute;
  align-items: center;
  color: yellow;
  font-weight: 200;
  font-size: 80px;
  font-family: 'Press Start 2P', cursive;
  animation: blinker 1s 3 linear;
  }

.game-start-content {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  
  
}

#bye-message h1{
  color: yellow;
  font-weight: 200;
  font-size: 80px;
  font-family: 'Press Start 2P', cursive;
  animation: blinker 2s 30 linear;
}

#messages {
  display: flex;
  align-items: stretch;
  padding-left: 80%;
  padding-right: 50%;
  animation: blinker 2s 30linear;
}

#messages h1{
  font-size: 30px;
  text-shadow: grey;
  margin-top: -200px;
  margin-left: -240px;
  font-family: 'Press Start 2P', cursive;
  color: yellow;
  padding: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  animation: blinker 2s 30 linear;
}



@keyframes rotate {
  from {
      transform: rotate(0);
  }

  to {
      transform: rotate(360deg);
  }
}

@keyframes impenna {
  from {
      transform: rotate(360deg);
  }

  to {
      transform: rotate(320deg);
  }
}

@keyframes shake {
  from {
      width: 80px;
      height: 80px;
  }

  to {
      width: 82px;
      height: 82px;
  }
}

@keyframes blinker {
  50% {
      opacity: 0;
  }
}

@keyframes bounce {
  0% {
      transform: scale(1, 1) translateY(-20);
  }

  10% {
      transform: scale(1.1, .9) translateY(0);
  }

  30% {
      transform: scale(.9, 1.1) translateY(-40px);
  }

  50% {
      transform: scale(1.05, .95) translateY(0);
  }

  57% {
      transform: scale(1, 1) translateY(-7px);
  }

  64% {
      transform: scale(1, 1) translateY(0);
  }

  100% {
      transform: scale(1, 1) translateY(-5);
  }
}

