body {
    padding: 0;
    text-align: center;
    background-color: black;
  }

  p {
      color: white;
  }
  
  .logo-img {
    width: 350px;
  }

  .arrows-img {
    width: 150px;
  }

  .space-img {
    width: 250px;
  }
  
  body button {
    font-size: 30px;
    background-color: #240177;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }

#space-board {
    float: left;
    padding: 20px 0px;
}

canvas {
    background-image: url(./images/space-board.png);
    background-size: cover;
}



#score-div p{
  font-size: 15px;
  text-shadow: grey;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-left: 500px;
  margin-right: 500px;

  margin-top: 20px;
  font-family: 'Press Start 2P', cursive;
  color: black;
  background-color:yellow;
  padding: 10px;
}

#game-welcome h1{
  position: absolute;
  align-items: center;
  color: yellow;
  font-weight: 200;
  font-size: 80px;
  font-family: 'Press Start 2P', cursive;
  }

.game-start-content {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  
  
}